/* .ScrollArrow {
    border-radius: 50px;
    padding: 0.8rem 4rem;
    cursor: pointer;
    margin: 0 1rem 1rem 1rem;
    transition: all 0.3s ease;
    height: 3rem;
    backdrop-filter: blur(5px);
    box-shadow: inset 0 1px #878787, 0 10px 35px rgba(0, 0, 0, 0.5);
    background: linear-gradient(0deg, #e5e5e511 0%, #15151515 100%);
    animation: bounce 2s ease-in-out 1s infinite;

    margin-left: auto;
    margin-right: auto;
    display: block;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

a {
    text-decoration: none;
    color: #e1dbd7;
} */

/* New Styles */

.ScrollArrow {
    border: none;
    border-radius: 1.5rem;
    padding: 0.8rem 4rem;
    cursor: pointer;
    margin: 1rem auto;
    transition: all 0.3s ease;
    height: 3rem;
    backdrop-filter: blur(5px);
    box-shadow: inset 0 1px #878787, 0 10px 35px rgba(0, 0, 0, 0.5);
    background: linear-gradient(0deg, #e5e5e511 0%, #15151515 100%);
    animation: bounce 2s ease-in-out 1s infinite;

}

.scroll-arrow-img {
    width: 1.5rem;
    height: 1.5rem;
    background-image: url('../../assets/extras/arrow.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(1.8rem);
    }

    100% {
        transform: translateY(0);
    }
}

.scroll-arrow-link {
    text-decoration: none;
    color: #e1dbd7;
}


@media screen and (max-width: 912px) {
    .ScrollArrow {
        padding: 0.8rem 2rem;
        margin-top: 4rem;
    }
}

@media screen and (max-width: 580px) {

    /* .ScrollArrow {
        padding: 0.8rem 1rem;
        margin-top: 7rem;
    } */
}